* {
    box-sizing: border-box;
    font-size: $f16;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: $main;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    font-weight: 500;
    color: white;
}

a {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
