$main: #566a8f;
$orange: #ef7f1b;
$profile: #353d54;
$notification: #add919;

$grid_color: #00f;
$grid_margin: percentage(40 / 1920);
$grid_width: percentage(157 / (1920 - 40 * 2));
$grid_gutter: percentage(30 / (1920 - 40 * 2));
